<a href="https://colab.research.google.com/github/KrisSert/de-zoomcamp/blob/master/Copy_of_workshop_1_Homework_data_talks_club_data_extraction_and_ingestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

# Q1
sum = 0
for sqrt_value in generator:
    sum += sqrt_value
print(sum)

# Q2
generator_13 = square_root_generator(13)
for _ in range(13):
  el = next(generator_13)
print(el)

8.382332347441762
3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [30]:
import duckdb
import dlt

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
  print(person)

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

for person in people_2():
  print(person)

# 1.
# define the connection to load to.
pipeline = dlt.pipeline(pipeline_name="test_pipeline",
                        destination='duckdb',
                        dataset_name='dataset')

# run the pipeline with default settings, and capture the outcome
info = pipeline.run(people_1(),
                    table_name="peoples",
                    write_disposition="replace")

# show the outcome
print(info)
conn = duckdb.connect("test_pipeline.duckdb")
display(conn.sql("select * from test_pipeline.dataset.peoples"))

# get the sum:
display(conn.sql("select sum(age) from test_pipeline.dataset.peoples"))


# 2.
info = pipeline.run(people_2(),
                    table_name="peoples",
                    write_disposition="append")
# show the outcome
print(info)
conn = duckdb.connect("test_pipeline.duckdb")
display(conn.sql("select * from test_pipeline.dataset.peoples"))

# get the sum:
display(conn.sql("select sum(age) from test_pipeline.dataset.peoples"))

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
Pipeline test_pipeline load step completed in 0.35 seconds
1 load package(s) were loaded to destination duckdb and into dataset dataset
The duckdb destination used duckdb:////content/test_pipeline.duckdb location to store data
Load package 1707764941.0974047 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707764941.0974047 │ x6plJm36sA4kVA │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707764941.0974047 │ GH2khTwg7Giukg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707764941.0974047 │ iZ/wMzc0DtRArg │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707764941.0974047 │ 0U0DLD+/UuKsHQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707764941.0974047 │ wKEH+ykK3jzTmw │ NULL       │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      140 │
└──────────┘

Pipeline test_pipeline load step completed in 0.22 seconds
1 load package(s) were loaded to destination duckdb and into dataset dataset
The duckdb destination used duckdb:////content/test_pipeline.duckdb location to store data
Load package 1707764941.931941 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707764941.0974047 │ x6plJm36sA4kVA │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707764941.0974047 │ GH2khTwg7Giukg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707764941.0974047 │ iZ/wMzc0DtRArg │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707764941.0974047 │ 0U0DLD+/UuKsHQ │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707764941.0974047 │ wKEH+ykK3jzTmw │ NULL       │
│     3 │ Person_3 │    33 │ City_B  │ 1707764941.931941  │ i4d8ulwLddFQog │ Job_3      │
│     4 │ Person_4 │    34 │ City_B  │ 1707764941.931941  │ 6PApTzqU9lZdbw │ Job_4      │
│     5 │ Person_5 │    35 │ City_B  │ 1707764941.931941  │ wUiRcMam1AMaGQ │ Job_5      │
│     6 │ Person_6 │    36 │ City_B  │ 1707764941.931941  │ /A2GEqjuMJUq6A │ Job_6      │
│     7 │ Person_7 │    37 │ City_B  │ 1707764941.931941  │ mDOq7dtrHqf4TQ │ Job_7      │
│     8 │ Person_8 │    38 │ City_B  │ 1707764941.931941  │ L9HxcHv+Mk0O8w │ Job_8      │
├───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┤
│ 11 rows                                                                     7 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      353 │
└──────────┘

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [3]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [38]:
import duckdb
import dlt

def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
  print(person)

def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

for person in people_2():
  print(person)

# 1.
# define the connection to load to.
pipeline = dlt.pipeline(pipeline_name="test_pipeline",
                        destination='duckdb',
                        dataset_name='dataset')

# run the pipeline with default settings, and capture the outcome
info = pipeline.run(people_1(),
                    table_name="peoples2",
                    write_disposition="merge",
                    primary_key="id")

# show the outcome
print(info)
conn = duckdb.connect("test_pipeline.duckdb")
display(conn.sql("select * from test_pipeline.dataset.peoples2"))


# 2.
info = pipeline.run(people_2(),
                    table_name="peoples2",
                    write_disposition="merge",
                    primary_key="id")

# show the outcome
print(info)
conn = duckdb.connect("test_pipeline.duckdb")
display(conn.sql("select * from test_pipeline.dataset.peoples2"))

# get the sum:
display(conn.sql("select sum(age) from test_pipeline.dataset.peoples2"))

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}
Pipeline test_pipeline load step completed in 0.34 seconds
1 load package(s) were loaded to destination duckdb and into dataset dataset
The duckdb destination used duckdb:////content/test_pipeline.duckdb location to store data
Load package 1707765558.3715842 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     8 │ Person_8 │    38 │ City_B  │ 1707765477.981848  │ IyPkeh6GvCXv+w │ Job_8      │
│     7 │ Person_7 │    37 │ City_B  │ 1707765477.981848  │ P+5YMV2HCrdJkA │ Job_7      │
│     6 │ Person_6 │    36 │ City_B  │ 1707765477.981848  │ yAi3mlQYWAgwmg │ Job_6      │
│     5 │ Person_5 │    30 │ City_A  │ 1707765558.3715842 │ Wt6NCdvOFUmigw │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707765558.3715842 │ 7XZtLaqlb5RRTg │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707765558.3715842 │ RmIVHK1MoYiUFQ │ NULL       │
│     1 │ Person_1 │    26 │ City_A  │ 1707765558.3715842 │ e0lbY2gTBbLGkw │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707765558.3715842 │ d4eOZ5ZolCWsZw │ NULL       │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

Pipeline test_pipeline load step completed in 0.34 seconds
1 load package(s) were loaded to destination duckdb and into dataset dataset
The duckdb destination used duckdb:////content/test_pipeline.duckdb location to store data
Load package 1707765559.143568 is LOADED and contains no failed jobs

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     2 │ Person_2 │    27 │ City_A  │ 1707765558.3715842 │ RmIVHK1MoYiUFQ │ NULL       │
│     1 │ Person_1 │    26 │ City_A  │ 1707765558.3715842 │ e0lbY2gTBbLGkw │ NULL       │
│     5 │ Person_5 │    35 │ City_B  │ 1707765559.143568  │ iXB7WRGJOXjESg │ Job_5      │
│     8 │ Person_8 │    38 │ City_B  │ 1707765559.143568  │ aMrNqhn0p4/X2w │ Job_8      │
│     7 │ Person_7 │    37 │ City_B  │ 1707765559.143568  │ TDcSWkMtChwsYg │ Job_7      │
│     4 │ Person_4 │    34 │ City_B  │ 1707765559.143568  │ PR7gwcwuy5vZ1g │ Job_4      │
│     3 │ Person_3 │    33 │ City_B  │ 1707765559.143568  │ Qljp3R2mdFEhYw │ Job_3      │
│     6 │ Person_6 │    36 │ City_B  │ 1707765559.143568  │ qmunnB8ncsSEoA │ Job_6      │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX